.nav-item a{
    text-align: center;
}

.navbar{
    background-color: rgb(33, 153, 153);
}

.container{
    background-color: rgb(179, 179, 179);
    padding: 50px;
    margin-top: 50px;
}

/* Small devices (landscape phones, 576px and up)  */
@media (min-width: 576px) and (max-width: 768px) {

} 
/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) and (max-width: 992px)  { 

} 
/* Large devices (desktops, 992px and up)  */
@media (min-width: 992px) and (max-width: 1200px)  { 

} 